nav, a {
  display: inline;
  margin-right: 140px;
  margin-bottom: 30px;
  /*text-decoration: none;*/
}

button {
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 15px;
  border: none;
  outline: none;
  /*clear: both;*/
}

img {
  border-radius: 15px;
  margin: 20px auto 20px 20px;
  height: 50%;
  width: auto;
  /*float: left;*/
}

button:hover {
  background-color: lightgray;
  cursor: pointer;
}

div {
  border: 2px solid black;
}

#faves {
  margin-left: 200px;
}

#faveButton:hover {
  color: red;
}

#random {
  margin-top: 20px;
}

.classyDiv {
  height: 400px;
  width: 400px;
  margin-top: 30px;
}
