a {
  margin-bottom: 30px;
  border: 2px solid black;
}

button {
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 15px;
  border: none;
  outline: none;
}

img {
  border-radius: 15px;
  margin: 20px auto;
  height: 50%;
  width: auto;
}

button:hover {
  background-color: lightgray;
  cursor: pointer;
}

#random {
  margin-top: 20px;
}
